@model List<Egovernance.Models.Vehicle>

@{
    ViewData["title"] = "someting";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var vehicle in @Model)
    {
        <h1>@vehicle.name</h1>
        <input type="radio" name="SelectedCategory" value="@vehicle.name" required />
    }
</div>
</body>
</html>